<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gec.brizingr2k19">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.gec.brizingr2k19.RegisterView"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gec.brizingr2k19.WebView"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gec.brizingr2k19.Invincible"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gec.brizingr2k19.events.AutoMobileNon"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gec.brizingr2k19.AutoMobileMain"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gec.brizingr2k19.events.CivilNon"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gec.brizingr2k19.CivilMain"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gec.brizingr2k19.events.ICNon"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gec.brizingr2k19.ICMain"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gec.brizingr2k19.events.ECNon"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gec.brizingr2k19.ECMain"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gec.brizingr2k19.MechMain"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gec.brizingr2k19.events.MechNon"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gec.brizingr2k19.CompMain"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gec.brizingr2k19.events.CompNon"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gec.brizingr2k19.AboutGEC"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gec.brizingr2k19.events.FunZone"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gec.brizingr2k19.events.Electrical"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gec.brizingr2k19.events.AutoMobile"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gec.brizingr2k19.events.Civil"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gec.brizingr2k19.events.IC"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gec.brizingr2k19.events.EC"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gec.brizingr2k19.Contact"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gec.brizingr2k19.Event"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gec.brizingr2k19.Schedule"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gec.brizingr2k19.About"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gec.brizingr2k19.events.Mech"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gec.brizingr2k19.events.Comp"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gec.brizingr2k19.Home"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.gec.brizingr2k19.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>